:root {
  --bg: #1d2b3a;
  --dark: #374151;
  --btn: rgba(255, 255, 255, 0.25);
  --bthover: #00dfc4;
  --nti: #1d2b3a;
  --white: white;
  --txt: #00dfc4;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* .prevent-select {
} */
body {
  display: flex;
  /* text-align: center; */
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  width: 250px;
  flex-direction: column;
  /* gap: 10px; */
  background: var(--bg);
}

#dd {
  color: var(--white);
}

#subName,
#working,
#Info,
#aboutI,
#contactI,
#settingsI,
#toDoI,
#timming {
  display: none;
}

.input {
  position: relative;
}

.input,
#intro {
  width: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.input input,
#intro input,
#new-task-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--btn);
  background: var(--bg);
  border-radius: 5px;
  outline: none;
  color: var(--txt);
  font-size: 1em;
  transform: 0.5s;
  align-items: center;
  margin-bottom: 15px;
}

h1 {
  color: #00dfc4;
  /* margin-top: 10px; */
  padding: 5px;
  font-size: 2em;
  margin: 5px 0 10px 0;
}

h3 {
  color: #00dfc4;
  /* margin-top: 10px; */
  /* padding: 5px; */
  font-weight: 100;
  font-size: 1.5em;
  margin: 0px 0 10px 0;
}

/* div > * {
  gap: 15px;
} */

div button {
  width: 100%;
  color: black;
  text-decoration: solid;
  font-weight: 250;
  font-size: 15px;
  padding: 10px;
  margin: 15px 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--btn);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.5s;
  /* -webkit-transform: scale(1.1); */
  transition-duration: 0.5s;
  margin: 0 0 15px 0;
}

div button:hover {
  /* div button:active, */
  /* div button:focus { */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: var(--bthover);
}

#m45,
#m60,
#m90,
#m120,
#m150 {
  display: inline-block;
  width: 50px;
  padding: 10px 0px;
  margin: 5px 5px 10px 5px;
}

#remove,
#pause {
  width: 100%;
  display: none;
}

hr {
  /* width: 200px; */
  border: none;
  border-top: 2px solid #00dfc4;
  color: #00dfc4;
  overflow: visible;
  text-align: center;
  margin: 10px 0 15px 0;
  padding: 0;
  height: 0;
  border-radius: 3px;
}

/* hr:after {
  background: #1d2b3a;
  content: "§";
  padding: 0 1px;
  position: relative;
  top: -10px;
} */

.container,
p {
  margin: 0 0 15px 0;
  /* margin: 0; */
  width: 200px;
  color: #00dfc4;
}

.title {
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 250;
}

#greet {
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 0;
}

.bookmarks {
  /* margin: 5px; */
  padding: 10px 0;
  margin-right: 8px;
}

.bookmark {
  display: flex;
  border-color: #00dfc4;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.8rem;
  /* padding: 3px; */
  /* padding-bottom: 7px; */
  margin-bottom: 10px;
}

.bookmark-title {
  /* text-align: center;
  align-items: center;
  justify-content: center;
  width: auto; */
  padding: 5px;
}

.bookmark-controls img {
  margin: 0 4px;
  margin-top: 2.5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
}

#optionbar {
  display: inline-block;
  height: 20px;
}

#reset,
#fpassword,
#option {
  color: black;
  text-decoration: solid;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 4px 2px;
  padding: 0;
  z-index: 1;
  transform: translate(80px, 0px);
  /* display: none; */
  width: 10px;
  height: 10px;
  /* text-align: right;
  justify-content: right; */
  /* align-items: flex-start; */
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); */
  /* background-color: red; */
  /* font-size: 15px; */
  /* padding: 5px; */
  /* margin-bottom: 10px; */
  /* background-color: rgba(255, 255, 255, 0.25); */
  /* position: fixed; */
  /* margin-top: 0px; */
  /* display: flex; */
  /* margin: auto; */
  /* gap: 5px; */
}

#back {
  color: #00dfc4;
  /* font-size: 1.2em; */
  font-weight: 900;
  text-decoration: solid;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2px;
  padding: 0;
  z-index: 1;
  transform: translate(-80px, 0px);
  display: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  /* text-align: right; */
  /* justify-content: right; */
  align-items: flex-start;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); */
  /* background-color: red; */
  /* font-size: 15px; */
  /* padding: 5px; */
  /* margin-bottom: 10px; */
  /* background-color: rgba(255, 255, 255, 0.25); */
  /* position: fixed; */
  /* margin-top: 0px; */
  /* display: flex; */
  /* margin: auto; */
  /* gap: 5px; */
}

#menu {
  color: white;
  /* font-size: 0em; */
  font-weight: 100;
  text-decoration: solid;
  /* border: none; */
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2px;
  padding: 0;
  z-index: 1;
  transform: translate(80px, 0px);
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  /* text-align: right; */
  /* justify-content: right; */
  align-items: flex-start;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); */
  /* background-color: red; */
  /* font-size: 15px; */
  /* padding: 5px; */
  /* margin-bottom: 10px; */
  /* background-color: rgba(255, 255, 255, 0.25); */
  /* position: fixed; */
  /* margin-top: 0px; */
  /* display: flex; */
  /* margin: auto; */
  /* gap: 5px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 6px;
  height: 60px;
  z-index: 1;
  background-color: rgba(0, 223, 196, 0.9);
  width: 65px;
  padding: 0 8px;
  transform: translate(-55px, 0);
}

#link0 {
  margin-top: 2.5px;
}

#menu:hover .dropdown-content {
  display: block;
}

#reset {
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); */
  background-color: #ff605c;
}

#fpassword {
  /* box-shadow: 0 0 20px rgba(255, 189, 68); */
  background-color: #ffbd44;
}

#option {
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); */
  background-color: #00ca4e;
}

/* 
#settingsI {
} */

.dropdown-content a {
  display: block;
  /* display: flex; */
  /* position:fixed; */
  color: white;
  /* margin: 5px 0; */
  /* padding-left: 4px;
  padding-right: 4px; */
  font-weight: 500;
  /* color: #00dfc4; */
  text-decoration: none;
  /* transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; */
  /* font-size: 1em; */
}

a:hover {
  cursor: pointer;
}

.dropdown-content a:hover {
  /* padding-left: 9px;
  padding-right: 9px; */
  /* padding-left: 4px; */
  color: #1d2b3a;
  /* -webkit-transform: scale(1.1); */
  /* transform: scale(1.1); */
  /* font-size: 1.1em; */
  /* font-weight: 0; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* font-weight: 500; */
  /* color: #00dfc4; */
  /* text-decoration: none; */
}

#timming label,
#settingsI label,
#timming input,
#settingsI input {
  /* #contactI input { */
  color: #00dfc4;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#timming input:hover ~ input,
#settingsI input:hover ~ input {
  /* #contactI input:hover ~ input { */
  background-color: rgba(0, 223, 196, 0.6);
}

#contactI {
  height: 180px;
}

#settingsI button {
  width: 90%;
}

#settingsI {
  align-items: center;
  text-align: center;
}

#settingsI h3 {
  /* align-items: center; */
  text-align: left;
  padding: 10px;
}

#rc label {
  display: inline-block;
  width: 190px;
  text-align: left;
  padding-left: 5px;
  /* width: 100px; */
}

#rc input {
  /* display: inline-block; */
  /* width: 190px;
  text-align: left; */
  margin-left: 15px;
  /* width: 100px; */
}

#rc {
  text-align: left;
}

#Info {
  width: 100%;
  padding: 10px 10px;
}

#Info h3 {
  /* display: inline-block; */
  padding: 0;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#Info > div {
  /* display: flex; */
  width: 100%;
  border-color: var(--btn);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  /* padding: 10px; */
  /* padding: 3px; */
  /* padding-bottom: 7px; */
  /* margin-bottom: 10px; */
}

#Info p:nth-child(0) {
  width: 100%;
  font-size: 1.2em;
  padding: 0 10px 10px 10px;
  font-weight: 100;
  /* justify-items: center; */
  text-align: justify;
  margin-bottom: 0;
}

/* a:hover ~ #footer {
  padding-bottom: 0px;
  padding-top: 0px;
} */

#cntner {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

h4 {
  color: #00dfc4;
  font-weight: 100;
  font-size: 1rem;
  padding: 0 20px;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00dfc4;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: #1d2b3a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* .dark-mode h1 {
  color: #f7f0e9;
} */

#toDoI * {
  /* margin: 0;
  box-sizing: border-box; */
  /* font-family: "Fira sans", sans-serif;  */
}

#toDoI {
  align-items: center;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh; */
  /* color: #fff; */
  /* background-color: var(--dark); */
}

header {
  /* padding: 2rem 1rem;
  max-width: 800px; */
  width: 100%;
  /* margin: 0 auto; */
}

header h1,
#settingsI h1 {
  /* font-size: 2.5rem; */
  font-weight: 300;
  /* color: var(--grey);
  margin-bottom: 1rem; */
}

#new-task-form {
  /* display: flex; */
}

/* input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
} */

#new-task-input,
.text {
  /* margin: 0 0 15p  x 0; */
  width: 90%;
  padding: 10px;
  /* margin: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: var(--nti);
  border-radius: 5px;
  outline: none;
  color: var(--txt);
  font-size: 1em;
  transform: 0.5s;
  margin-bottom: 0px;
  /* background-color: var(--darker);
  padding: 5px;
  border-radius: 5px;
  margin-right: 1rem;
  color: var(--light); */

  /* flex: 1 1 0%; */
  /* font-size: 1.25rem; */
}

/* #new-task-input::placeholder {
  color: var(--grey);
} */
.actions button {
  width: 40%;
  margin: 6px 10px;
}

#new-task-submit {
  width: 90%;
  margin: 6px 0;
}

.actions button,
#new-task-submit {
  color: black;
  text-decoration: solid;
  font-weight: 250;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--btn);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.5s;
  /* -webkit-transform: scale(1.1); */
  transition-duration: 0.5s;
  /* margin: 0 0 15px 0; */
}

.actions button:hover,
#new-task-submit:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: var(--bthover);
}

#new-task-submit {
  /* color: var(--pink); */
  /* font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s; */
}

/* #new-task-submit:hover {
  opacity: 0.8;
} */

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  /* padding: 1rem; */
}

.task-list h2 {
  font-size: 1.4rem;
  font-weight: 300;
  /* color: var(--grey); */
  color: #00dfc4;
  margin-bottom: 6px;
}

#tasks .task {
  /* display: flex; */
  /* justify-content: space-between; */
  /* background-color: var(--darkest); */
  /* padding: 1rem; */
  /* border-radius: 1rem; */
  /* margin-bottom: 1rem; */
}

/* .task .content {
  flex: 1 1 0%;
} */

/* .task .content .text {
  color: var(--light);
  width: 100%;
  transition: 0.4s;
} */
/* display: block; */
/* font-size: 1.125rem; */

.task .content .text:not(:read-only) {
  color: #00dfc4;
}

.task .actions {
  /* display: flex; */
  /* margin: 0 -0.5rem; */
}

/* .task .actions button {
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
} */
/* margin: 0 0.5rem;
font-size: 1.125rem;
font-weight: 700; */

/* .task .actions button:hover {
  opacity: 0.8;
} */

/* .task .actions button:active {
  opacity: 0.6;
} */

.task .actions .edit {
  /* background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* .task .actions .delete {
  color: crimson;
} */

.box1 {
  /* margin: 10px 20px; */
}

.content1,
.content2,
.content3 {
  position: relative;
  top: 0;
  color: #fff;
  font-size: 10px;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  z-index: 1;
  /* background: #5f6f94; */
  padding: 0;
  margin: 0;
  opacity: 0;
  display: none;
}

.team .box1:hover .content1 {
  opacity: 1;
  display: block;
  /* background: #25316d; */
  background-image: none;
}
.team .box2:hover .content2 {
  opacity: 1;
  display: block;
  /* background: #25316d; */
  background-image: none;
}
.team .box3:hover .content3 {
  opacity: 1;
  display: block;
  /* background: #25316d; */
  background-image: none;
}

.team .box1:hover #b1h4 {
  /* opacity: 0; */
  display: none;
  /* background: #25316d; */
  background-image: none;
}
.team .box2:hover #b2h4 {
  /* opacity: 0; */
  display: none;
  /* background: #25316d; */
  background-image: none;
}
.team .box3:hover #b3h4 {
  /* opacity: 0; */
  display: none;
  /* background: #25316d; */
  background-image: none;
}

p a {
  color: var(--txt);
  font-size: 15px;
  width: 100%;
  height: 15px;
  /* height: 100%; */
}

.arrow {
  position: fixed;
  background-color: transparent;
  color: black;
  padding: 5px;
  font-size: 15px;
  /* border: 2px solid orange; */
  /* top: 30%; */
  margin-top: 50px;
  /* transform: translateY(-50%); */
  cursor: pointer;
  position: relative;
  width: 20px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  background-color: var(--btn);
}

.arrow:focus {
  outline: 0;
}

.right-arrow {
  float: right;
}

.slider-container {
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  /* height: 80px; */
  width: 100%;
  /* overflow: hidden; */
  /* background-position: center center; */
  /* background-size: cover; */
  position: absolute;
  translate: 23px 0;
  transition: 0.4s ease;
  display: none;
}

.slide.active {
  display: flex;
  opacity: 1;
}

.team {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  /* height: 120px; */
  /* overflow: hidden; */
  margin: 0;
  background-position: center center;
  background-size: cover;
  /* margin: 0 0 10px 0; */
  /* padding: 0 0 10px 0; */
  /* transition: 0.4s; */
}

/* .box1 {
  padding: 0;
  margin: 0;
  height: 300px;
  overflow: hidden;
  margin-left: 35px;
} */

.box1 {
  /* height: 100px; */
  width: 100%;
  overflow: hidden;
  text-align: center;
}

/* .box3 {
height: 300px;
overflow: hidden;
margin-right: 35px;
} */

/* .box1 h3,
.box2 h3,
.box3 h3 {
font-size: 2rem;
background-color: #25316d;
color: #fef5ac;
margin: 0;
padding: 0.5rem;
bottom: 0;
} */
h4,
.content1 p,
.content2 p,
.content3 p {
  color: #00dfc4;
  /* margin-top: 10px; */
  /* padding: 5px; */
  font-weight: 100;
  /* font-size: 15px; */
  margin: 5px 0 5px 0;
  width: auto;
}
.content1 p a,
.content2 p a,
.content3 p a {
  font-size: 12px;
  font-weight: 10;
}
h4 {
  font-size: 1.2em;
}
.content1 p,
.content2 p,
.content3 p {
  margin: 7px 0 7px 0;
}

.box-container .box {
  text-align: center;
  border: 0.1rem solid #00dfc4;
}

.box-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 10px 0;
  /* -ms-grid-columns: (minmax(180px, 1fr)) [auto-fit]; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}
